dm/WebRoot/WEB-INF/classes/**/*
dm/WebRoot/WEB-INF/lib/*
tpo/WebRoot/WEB-INF/classes/**/*
tpo/WebRoot/WEB-INF/lib/*
count/WebRoot/WEB-INF/classes/**/*
count/WebRoot/WEB-INF/lib/*
monitor/WebRoot/WEB-INF/classes/**/*
monitor/WebRoot/WEB-INF/lib/*
*.bak
*.class
.project
.classpath
/.settings
/bin/*
/bin/**/*
/build/*
/build/**/*
*.tmp
/jfinal_dwz.log
